<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="C4I Rule Set" Description=" " ToolsVersion="15.0">
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0021" Action="None" />
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0049" Action="None" />
    <Rule Id="CC0057" Action="None" />
    <Rule Id="CC0061" Action="None" />
    <Rule Id="CC0065" Action="None" />
    <Rule Id="CC0067" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3881" Action="None" />
    <Rule Id="S4035" Action="None" />
  </Rules>
  <Rules AnalyzerId="CuAnTo.Analyzers" RuleNamespace="CuAnTo.Analyzers">
    <Rule Id="RME_001" Action="Error" />
    <Rule Id="RME_002" Action="Error" />
    <Rule Id="RME_003" Action="Error" />
    <Rule Id="RME_004" Action="Error" />
    <Rule Id="RME_005" Action="Error" />
  </Rules>
</RuleSet>